@model Bangazon.Models.ProductViewModels.ProductTypesViewModel

@{
    ViewData["Title"] = "Types";
}

<h3> Click on product name for details</h3>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.GroupedProducts)
        {
            <tr>
                <td>
                    <strong>
                        <a asp-controller="ProductTypes" asp-action="Details" asp-route-id="@item.TypeId">@item.TypeName</a>
                        @Html.DisplayFor(modelItem => item.ProductCount)
                    </strong>
                </td>
            </tr>
            @foreach (var productsitem in item.Products)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@productsitem.ProductId">@productsitem.Title</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
