@model Bangazon.Models.OrderViewModels.OrderDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var item in Model.LineItems)
        {

            <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Product.ProductId">
                @item.Product.Title
            </a>
            <dd>
                @item.Units
            </dd>
            <dd>
                @item.Cost
            </dd>
            <dd>

            </dd>

            @using (Html.BeginForm("DeleteItemFromCart", "Orders"))
             {
                 <input type="hidden" name="prodId"  value="@item.Product.ProductId" />

                 <input type="submit" value="Remove Item" />
             }
           
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Order.OrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
