@model Bangazon.Models.ProductType

@{
    ViewData["Title"] = "Details";
}

<h3>Products by Category</h3>
<div>
    <a asp-controller="Products" asp-action="Types">Back to List</a>
</div>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Label)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Label)
        </dd>
    </dl>
</div>
<div>
    <dd class="col-sm-10">
        <ol>
            @foreach (var item in Model.Products)
            {
                <li>
                    @Html.DisplayFor(model => item.Title)     |
                    @Html.DisplayFor(model => item.Quantity)     |
                    @Html.DisplayFor(model => item.Price)
                </li>
            }
        </ol>
    </dd>
</div>

<div>
    <a asp-controller="Products" asp-action="Types">Back to List</a>
</div>